@font-face {
  font-family: 'Proxima Nova Thin';
  src: url("../fonts/Mark\ Simonson\ -\ Proxima\ Nova\ Thin-webfont.ttf") format('tff');
}

body {
  background: rgba(33,33,33);
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 300px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid rgba(73, 73, 73, 0.288);
  margin: 1em 0;
  padding: 0; 
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  height: 30px;
  color: rgba(179,179,179);
  text-align: center;
}

th {
  height: 30px;
  text-align: center;
  font-size: 8pt;
  color: gray;
}

#published-year {
  color: rgba(179,179,179);
  font-size: 9pt;
  text-indent: 1em;
}

#album-title {
  color: white;
  font-size: 30pt;
  font-weight: bold;
}

#song-name {
  color: whitesmoke;
  text-align: left;
}

#song-name-title {
  text-align: left;
}

#id {
  font-size: 1pt;
}

table td {
  border: 1px solid rgba(73, 73, 73, 0.288);
}

table tr:first-child td {
  border-top: 0;
}

table tr td {
  border-left: 0;
  border-right: 0;
}

#hover-elements:hover {
  background-color: #42414194;
}